*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#main-bg{
    background-image: url(/IMAGE/grass.png), url(/IMAGE/back.png), url(/IMAGE/arrows-white.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 10px;
}
#main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
}
#header h1{
    color: #7FE802;
    text-shadow: 4px 6px 10px rgb(64, 204, 247);
}
#navi{
    background-color:#53C7FD;
    padding: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
#navi .menu{
    list-style-type: none;
    display: inline-block;
    
}
#navi .menu .item{
    display: inline-block;
    padding: 4px;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#navi .menu .menu-child{
    display: none;
    list-style-type: none;
    position: absolute;
    color: grey;
    background-color:#53C7FD;
    left: -9px;
}
#navi .menu .menu-child li{
    padding: 10px;
}
#navi .menu .on-menu{
    position: relative;
}
#navi .menu .on-menu:hover .menu-child{
    display: block;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content .section{
    width: 68%;
}
#content .section .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content .section .content .txt-content{
    width: 78%;
    text-align: justify;
}

#content .section .content .image{
    width: 19%;
    border: 2px solid gray;
    padding: 10px;
}

#content .right{
    width: 28%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content .right .aside1,
#content .right .aside2{
    width: 70%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #C3E9E7;
}
#footer{
    padding: 20px;
    background-color: #53C7FD;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}


